@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0c0b0b;
}

.swiper {
  /* width: 320px; */
  height: 70vh;
}

.swiper-slide {
  padding-left: 64px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(1n) {
  background: #34387f;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(2n) {
  background: #600404;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(3n) {
  background: #5b7f3c;
}

.swiper-pagination .swiper-pagination-bullet {
  height: 100px;
  width: 4px;
  border-radius: 0;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
  left: 0;
  right: auto;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #171717;
  opacity: 0.8;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: #fafafa;
  width: 44px;
  height: 44px;
  padding: 16px 13px;
  background-color: #34387f;
  border-radius: 100%;
  /* bottom: 0; */
  top: 90%;
}

div.swiper-button-prev {
  left: 45%;
}

div.swiper-button-next {
  right: 45%;
}

.swiper-button-next,
.swiper-button-prev {
  color: red; /* измените цвет кнопок */
  background-color: transparent; /* измените цвет фона кнопок */
}

.swiper.mySwiper {
  margin: 0;
}

/* .swiper-slide{padding: 0;} */
